/*RESET*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Karla", sans-serif;
}

/***VERSIÓN MOBILE HASTA 576PX INCLUSIVE***/
/*DISEÑOS LAYOUT*/
aside{
    grid-area: aside;
    background-color: #4d6267;
    height: 70px;
}
header{
    grid-area: header;
    background-color: #cbe1e7;
    height: 75px;
}
main{
    grid-area: main;
    background-color: #ffffff;
}
nav{
    grid-area: nav;
    background-color: #ffffff;
    height: 20px;
}
footer{
    grid-area: footer;
    background-color: #34484d;
    height: 55px;
}
.layout{
    display: grid;
    grid-template-areas: 
    "aside"
    "header"
    "main"
    "nav"
    "footer";
}

/*DISEÑOS NAV*/
.nav_items{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    list-style-type: none;
    color: #ffffff;
    font-size: xx-large;
    font-weight: 500;
    font-style: italic;
}
#icono_espacio{
    padding-right: 15px;
}

/*DISEÑOS HEADER*/
.header_items{
    padding: 10px;
    text-align: center;
    color:#4d6267;
    font-size: medium;
}
#selector{
    display: block;
    width: 70%;
    height: 30px;
    text-align: center;
    margin-left: 70px;
    margin-top: 10px;
    font-size: medium;
    color: #4d6267;
}

/*DISEÑOS MAIN*/
.main_card{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    width: 80%;
    height: 420px;
    margin: 0 auto;
    border: 1px solid #f3f5eb;
    text-align: center;
    box-shadow: 0px 5px 5px 0px rgba(116,121,109,1);
    font-size: medium;
}
.card p {
    font-size: small;
    color: #34484d;
}
.img_car{
    width: 70%;
    margin-bottom: 10px;
    margin-top: 20px;
}
button{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #cbe1e7;
    padding: 10px;
    border-radius: 5px;
    color: #4d6267;
    font-size: small;
}

/*ESTILOS NAV*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #34484d;
    font-size: large;
    margin-bottom: 10px;
}
.menu_items{
    width: 5%;
    border: 1px solid #e7e9df;
    text-align: center;
}

/*ESTILOS FOOTER*/
.footer_items{
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
    color:#ffffff;
    font-size: medium;
}
.iconos_footer{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

/***VERSIÓN ESCRITORIO MAS DE 576PX***/
@media (min-width: 577px) {
    .layout{
        display: grid;
        grid-template-areas: 
        "aside header"
        "aside main"
        "footer nav";
    }
    aside{
        width: 30vw;
        height: 600px;
    }
    header{
        width: 70vw;
    }
    main{
        width: 70vw;
        height: 700px;
    }
    footer{
        width: 30vw;
        height: 200px;
    }
    nav{
        width: 70vw;
        height: 100px;
    }
}
