/*RESET*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Karla", sans-serif;
}

/***VERSIÓN MOBILE HASTA 576PX INCLUSIVE***/
/*DISEÑOS LAYOUT*/
aside{
    grid-area: aside;
    background-color: #4d6267;
    height: 70px;
}
header{
    grid-area: header;
    background-color: #cbe1e7;
    height: 75px;
}
main{
    grid-area: main;
    background-color: #ffffff;
}
nav{
    background-color: #ffffff;
    height: 20px;
}
footer{
    grid-area: footer;
    background-color: #34484d;
    height: 55px;
}
.layout{
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "aside"
    "header"
    "main"
    "footer";
}

/*DISEÑOS ASIDE*/
.aside_title{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    list-style-type: none;
    color: #ffffff;
    font-size: xx-large;
    font-weight: 500;
    font-style: italic;
}
#space, #space2{
    padding-right: 15px;
}
.aside_items{
    display: none;
}

/*DISEÑOS HEADER*/
.header_items{
    padding: 10px;
    text-align: center;
    color:#4d6267;
    font-size: medium;
}
#selector{
    display: block;
    width: 70%;
    height: 30px;
    text-align: center;
    margin-left: 70px;
    margin-top: 10px;
    font-size: medium;
    color: #4d6267;
}

/*DISEÑOS MAIN*/
.main_card{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    width: 80%;
    height: 420px;
    margin: 0 auto;
    border: 1px solid #f3f5eb;
    text-align: center;
    box-shadow: 0px 5px 5px 0px rgba(116,121,109,1);
    font-size: medium;
}
.card p {
    font-size: small;
    color: #34484d;
}
.img_car{
    width: 70%;
    margin-bottom: 10px;
    margin-top: 20px;
}
button{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #cbe1e7;
    padding: 10px;
    border-radius: 5px;
    color: #4d6267;
    font-size: small;
}

/*ESTILOS NAV*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #34484d;
    font-size: large;
    margin-bottom: 10px;
}
.nav_items{
    width: 5%;
    border: 1px solid #e7e9df;
    text-align: center;
}

/*ESTILOS FOOTER*/
.footer_items{
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
    color:#ffffff;
    font-size: large;
}
.iconos_footer{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

/***VERSIÓN ESCRITORIO MAS DE 576PX***/
@media (min-width: 577px) {
    .layout{
        width: 1200px;
        height: 800px;
        display: grid;
        grid-template-areas: 
        "aside header"
        "aside main"
        "footer main";
    }
    aside{
        width: 250px;
        height: 600px;
    }
    .aside_title{
        font-size:x-large;
    }
    #hamburger{
        display: none;
    }
    .aside_items{
        display: block;
        list-style-type: none;
        text-align: center;
        color: #ffffff;
        font-size: large;
        padding-top: 15px;
    }
    .aside_items li{
        padding-top: 15px;
    }
    header{
        width: 950px;
        height: 80px;
    }
    main{
        width: 950px;
        height: 610px;
        padding-top: 20px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;   
        position: relative;  
        bottom: 20px; 
    }
    .main_card{
        margin: 0px;
        height: 250px;
    }
    .card{
        width: 200px;
        height: 250px;
        margin: 0px;
    }
    nav{
        width: 950px;
        height: 40px;
        margin: 0;
    }
    .nav_items{
        height: 40px;
    }
    footer{
        width: 250px;
        height: 105px;
        position: relative;
        bottom: 55px;
    }
    .footer_items{
        margin: 0;
    }
    .footer_items p{
        margin-left: 10px;
        margin-right: 10px;
    }
}
